.Nav{
  margin-top: 0%;
  
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;

}


.c1{
/* 
  display: flex;  
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr) ;
 

}
.imgl{
  width: 50px;
}

.footer{
  margin-top: 43%;
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: space-around;

}